form {
    & > label:nth-child(2) {
        @include more-less-label;
        &[class=label-unchecked] {
            border-radius: $corner $corner .1rem .1rem;
        }
    }

    & > div {
        display: none;
        &,
        * { 
            background-color: $container-color;
        }
        &[class=show-filters] {
            @include flex-setup($fw:wrap, $mh:.5rem);
            align-items: stretch;
            max-width: 70rem;
            border-radius: $corner;
        }
    }
}