div[class=show-filters] fieldset:not(:first-of-type) {  
    @include flex-setup($fb:60%, $fw:wrap, $mv:0);
    position: relative;
    label {
        @include flex-setup($fb:44%, $mv:.2rem, $mh:.2rem);
        background-color: $input-selected;
        &[class=input-unselected] {
            background-color: $input-unselected;
        } 
    }
    label:last-child {
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: -1.2rem;
        left: .9rem;
        color: transparent;
        background-color: $input-selected;
        &[class=input-unselected] {
            background-color: $input-unselected;
        }
    }
    @include adjust-flex-basis(40%, 30%);
}