$input-unselected: cornsilk;
$input-selected: rgb(247, 212, 138);
$container-color: rgb(253, 84, 62);
$table-label: rgb(4, 241, 143);
$table-color: rgb(138, 219, 243);
$even-table-color: rgb(51, 165, 180);

$corner: .33rem;
$sharper-corner: .2rem;
$vertical-space: .5rem;

