form > label:first-child {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2.5rem auto;
}
form > label:first-child input {
  width: 20rem;
  max-width: 30rem;
  height: 3rem;
  padding: 0.5rem;
  border: solid 1px black;
  border-radius: 0.2rem;
  text-align: center;
  background-color: cornsilk;
  font-size: 1.5rem;
}
form > label:first-child input:focus,
form > label:first-child .text-in-input {
  background-color: #f7d48a;
  outline-style: none;
}

div[class=show-filters] > label {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto;
}
div[class=show-filters] > label input {
  width: 8rem;
  max-width: 12rem;
  height: 1.5rem;
  padding: 0.5rem;
  border: solid 1px black;
  border-radius: 0.2rem;
  text-align: center;
  background-color: cornsilk;
}
div[class=show-filters] > label input:focus,
div[class=show-filters] > label .text-in-input {
  background-color: #f7d48a;
  outline-style: none;
}
@media (min-width: 600px) {
  div[class=show-filters] > label {
    flex-basis: 50%;
    padding-right: 10%;
    align-items: end;
    text-indent: -8rem;
  }
}
@media (min-width: 1000px) {
  div[class=show-filters] > label {
    flex-basis: 50%;
  }
}

form > label:nth-child(2) {
  padding: 0.5rem;
  border-radius: 0.33rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  background-color: #fd543e;
}
form > label:nth-child(2)[class=label-unchecked] {
  border-radius: 0.33rem 0.33rem 0.1rem 0.1rem;
}
form > div {
  display: none;
}
form > div,
form > div * {
  background-color: #fd543e;
}
form > div[class=show-filters] {
  display: flex;
  flex-direction: initial;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 0.5rem;
  align-items: stretch;
  max-width: 70rem;
  border-radius: 0.33rem;
}

div[class=show-filters] fieldset:not(:first-of-type) {
  display: flex;
  flex-direction: initial;
  flex-basis: 60%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
div[class=show-filters] fieldset:not(:first-of-type) label {
  display: flex;
  flex-direction: initial;
  flex-basis: 44%;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.2rem 0.2rem;
  background-color: #f7d48a;
}
div[class=show-filters] fieldset:not(:first-of-type) label[class=input-unselected] {
  background-color: cornsilk;
}
div[class=show-filters] fieldset:not(:first-of-type) label:last-child {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -1.2rem;
  left: 0.9rem;
  color: transparent;
  background-color: #f7d48a;
}
div[class=show-filters] fieldset:not(:first-of-type) label:last-child[class=input-unselected] {
  background-color: cornsilk;
}
@media (min-width: 600px) {
  div[class=show-filters] fieldset:not(:first-of-type) {
    flex-basis: 40%;
  }
}
@media (min-width: 1000px) {
  div[class=show-filters] fieldset:not(:first-of-type) {
    flex-basis: 30%;
  }
}

div[class=show-filters] fieldset:first-of-type {
  display: flex;
  flex-direction: initial;
  flex-basis: 100%;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem auto;
}
div[class=show-filters] fieldset:first-of-type label {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 6rem;
  border: solid 1px black;
  background-color: cornsilk;
}
div[class=show-filters] fieldset:first-of-type label[class=input-selected] {
  background-color: #f7d48a;
}
div[class=show-filters] fieldset:first-of-type label:first-of-type {
  border-right: none;
}
@media (min-width: 600px) {
  div[class=show-filters] fieldset:first-of-type {
    flex-basis: 50%;
    padding-left: 10%;
    justify-content: start;
    text-align: start;
    text-indent: 2rem;
  }
  div[class=show-filters] fieldset:first-of-type label {
    text-align: center;
    text-indent: 0;
  }
}
@media (min-width: 1000px) {
  div[class=show-filters] fieldset:first-of-type {
    flex-basis: 50%;
  }
}

table:nth-of-type(2) tr[class=time-row] th,
table:nth-of-type(2) tr[class=time-row] td {
  font-weight: bold;
  border-bottom: solid 2px black;
}
table:nth-of-type(2) tr:first-child th:first-child {
  border-radius: 0.33rem 0 0 0;
}
table:nth-of-type(2) tr:first-child th:last-child {
  border-radius: 0 0.33rem 0 0;
}
table:nth-of-type(2) tr:first-child td:last-child {
  border-radius: 0 0.33rem 0 0;
}
table:nth-of-type(2) tr:last-child th:first-child {
  border-radius: 0 0 0 0.33rem;
}
table:nth-of-type(2) tr:last-child th:last-child {
  border-radius: 0 0.33rem 0 0;
}
table:nth-of-type(2) tr:last-child td:last-child {
  border-radius: 0 0 0.33rem 0;
}

table:last-of-type {
  align-self: flex-start;
  margin: auto;
  max-width: 70rem;
}
table:last-of-type thead th {
  border-bottom: solid 2px black;
}
table:last-of-type thead th:first-child {
  border-radius: 0.33rem 0 0 0;
}
table:last-of-type thead th:last-child {
  border-radius: 0 0.33rem 0 0;
}
table:last-of-type thead td:last-child {
  border-radius: 0 0 0 0;
}
table:last-of-type tbody th {
  min-width: 9rem;
}
table:last-of-type tbody tr:last-child th:first-child {
  border-radius: 0 0 0 0.33rem;
}
table:last-of-type tbody tr:last-child th:last-child {
  border-radius: 0 0.33rem 0 0;
}
table:last-of-type tbody tr:last-child td:last-child {
  border-radius: 0 0 0.33rem 0;
}
table:last-of-type tfoot {
  position: relative;
}
table:last-of-type tfoot td {
  position: absolute;
  right: 0;
  width: unset;
  margin: 0.5rem;
  font-weight: bold;
  background-color: transparent;
}

table:first-of-type th:first-child {
  border-radius: 0.33rem 0 0 0.33rem;
}
table:first-of-type th:last-child {
  border-radius: 0 0.33rem 0 0;
}
table:first-of-type td:last-child {
  border-radius: 0 0.33rem 0.33rem 0;
}

#root > div {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto;
  padding: 0.5rem;
}
#root > div label {
  padding: 0.5rem;
  border-radius: 0.33rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #04f18f;
}

table {
  border-spacing: 0;
}
table caption, table[class=hide-table] {
  display: none;
}
table tr * {
  width: 9rem;
  text-align: center;
  border-bottom: solid 1px black;
  background-color: #8adbf3;
}
table tr *:nth-child(even) {
  background-color: #33a5b4;
}
table tr:last-child * {
  border-bottom: none;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: cornsilk;
}

form {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto;
}
form fieldset {
  border: none;
}
form label {
  border-radius: 0.2rem;
}

/*# sourceMappingURL=index.css.map */
